{% extends "base.html" %}
 
{% block content %}
    <link rel="Stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <style>
        .zoom {
        transition: transform .1s;
    }
    .zoom:hover {
        transform: scale(5);
    }
    </style>
    <style>
        table, th, td {
            padding: 5px;
            text-align: center;
        }
        td {}
        table {
            border-spacing: 15px;
        }
    </style>
    <style>
        .img-container {
            text-align: center;
        }
    </style>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: #ffffff;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 14%;
        }

        .tablink:hover {
            background-color: #777;
        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            display: none;
            height: 100%;
        }
    </style>
    <script>
        function openPage(pageName, elmnt) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = "blue";
        }

        // Get the element with id="defaultOpen" and click on it
    </script>
    <h1>Отправления с моего склада</h1>
    <button onclick="location.href='/get_act'" type="button" class="btn btn-success">Распечатать акты</button>
    {% if act_started == True %}
        <div class="alert alert-success" role="alert">
            Акт формируется, зайдите в Загрузки
        </div>
    {% endif %}
    {% if deliver_started == True %}
        <div class="alert alert-success" role="alert">
            Скоро у всех заказов появится статус "Ожидает отгрузки"
        </div>
    {% endif %}
    <!-- Buttons -->
    <button id="idb">Обновить</button>
    <script>
        function f1() {
            var x = document.getElementById("myDIV");
            if (x.style.visibility == "visible"){
                x.style.visibility = "hidden";
            } else {
                x.style.visibility = "visible";
            }

        }
        var a = document.getElementById("idb")
        a.addEventListener("click", f1)
    </script>
    <script>
        $(document).ready(function() {
            $('#MyTable').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
            } );
        } );
        $(document).ready(function() {
            $('#MyTable1').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
            } );
        } );
        $(document).ready(function() {
            $('#MyTable2').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
            } );
        } );
        $(document).ready(function() {
            $('#MyTable3').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
            } );
        } );
        $(document).ready(function() {
            $('#MyTable4').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
            } );
        } );
        $(document).ready(function() {
            $('#MyTable5').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
            } );
        } );
        $(document).ready(function() {
            $('#MyTable6').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
            } );
        } );
    </script>
    <div id="myDIV" style="visibility:hidden">
        Нажмите на <a href="/updater" target="_blank">ссылку</a> и не закрывайте вкладку, пока страница не обновится. Спасибо!
    </div>
    {% if markings_started == True %}
        <div class="alert alert-success" role="alert">
            Маркировки формируются, зайдите в Загрузки
        </div>
    {% endif %}
    <button style="height:75px;" class="tablink" onclick="openPage('all', this)" id="defaultOpen">Все отправления</button>
    <button style="height:75px;" class="tablink" onclick="openPage('awaiting_packaging', this)">Ожидают сборки</button>
    <button style="height:75px;" class="tablink" onclick="openPage('awaiting_deliver', this)">Ожидают отгрузки</button>
    <button style="height:75px;" class="tablink" onclick="openPage('arbitration', this)">Спорные</button>
    <button style="height:75px;" class="tablink" onclick="openPage('delivering', this)">Доставляются</button>
    <button style="height:75px;" class="tablink" onclick="openPage('delivered', this)">Доставлены</button>
    <button style="height:75px;" class="tablink" onclick="openPage('cancelled', this)">Отменены</button>
    <div id="all" class="tabcontent">
        <form method="post">
            <p>

                <input type=submit value="Распечатать маркировки">
            </p>
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">‎</th>
                    <th class="th-sm">Принят в обработку</th>
                    <th class="th-sm">Номер заказа</th>
                    <th class="th-sm">Номер отправления</th>
                    <th class="th-sm">Детали отправления</th>
                    <th class="th-sm">Картинка</th>
                    <th class="th-sm">Стоимость</th>
                    <th class="th-sm">Дата отгрузки</th>
                </tr>
                </thead>
                {% for item in postings_data %}
                    <tr>
                        <td><input type="checkbox" value={{ item["Номер отправления"] }} class="danger" name='posting_labels'></td>
                        {% for key, value in item.items() %}
                            {% if key != "origin" %}
                                {% if key == "Картинка" %}
                                    <td style="width: 50px; height: 50px"><div class="img-container"> <!-- Block parent element -->
                                        {% for k in value %}
                                            <img style="display:block;" width="100%" height="8%" class="zoom" src="{{ k }}">
                                        {% endfor %}
                                    </div></td>
                                {% else %}
                                    <td style="white-space:pre-wrap; word-wrap:break-word; height: 80px">{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <div id="awaiting_packaging" class="tabcontent">
        <form method="post">
            <p>

                <input type=submit name="action" value="Распечатать маркировки">
                <button type=submit name="action" value="Собрать выбранные" class="btn btn-primary">Собрать выбранные</button>
            </p>
            <table id="MyTable1" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">‎</th>
                    <th class="th-sm">Принят в обработку</th>
                    <th class="th-sm">Номер заказа</th>
                    <th class="th-sm">Номер отправления</th>
                    <th class="th-sm">Детали отправления</th>
                    <th class="th-sm">Картинка</th>
                    <th class="th-sm">Стоимость</th>
                    <th class="th-sm">Дата отгрузки</th>
                </tr>
                </thead>
                {% for item in postings_data_awaiting_packaging %}
                    <tr>
                        <td><input type="checkbox" value={{ item["Номер отправления"] }} class="danger" name='posting_labels'></td>
                        {% for key, value in item.items() %}
                            {% if key != "origin" %}
                                {% if key == "Картинка" %}
                                    <td style="width: 50px; height: 50px"><div class="img-container"> <!-- Block parent element -->
                                        {% for k in value %}
                                            <img style="display:block;" width="100%" height="8%" class="zoom" src="{{ k }}">
                                        {% endfor %}
                                    </div></td>
                                {% else %}
                                    <td style="white-space:pre-wrap; word-wrap:break-word; height: 80px">{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <div id="awaiting_deliver" class="tabcontent">
        <form method="post">
            <p>

                <input type=submit value="Распечатать маркировки">
            </p>
            <table id="MyTable2" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">‎</th>
                    <th class="th-sm">Принят в обработку</th>
                    <th class="th-sm">Номер заказа</th>
                    <th class="th-sm">Номер отправления</th>
                    <th class="th-sm">Детали отправления</th>
                    <th class="th-sm">Картинка</th>
                    <th class="th-sm">Стоимость</th>
                    <th class="th-sm">Дата отгрузки</th>
                </tr>
                </thead>
                {% for item in postings_data_awaiting_deliver %}
                    <tr>
                        <td><input type="checkbox" value={{ item["Номер отправления"] }} class="danger" name='posting_labels'></td>
                        {% for key, value in item.items() %}
                            {% if key != "origin" %}
                                {% if key == "Картинка" %}
                                    <td style="width: 50px; height: 50px"><div class="img-container"> <!-- Block parent element -->
                                        {% for k in value %}
                                            <img style="display:block;" width="100%" height="8%" class="zoom" src="{{ k }}">
                                        {% endfor %}
                                    </div></td>
                                {% else %}
                                    <td style="white-space:pre-wrap; word-wrap:break-word; height: 80px">{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <div id="arbitration" class="tabcontent">
        <form method="post">
            <p>

                <input type=submit value="Распечатать маркировки">
            </p>
            <table id="MyTable3" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">‎</th>
                    <th class="th-sm">Принят в обработку</th>
                    <th class="th-sm">Номер заказа</th>
                    <th class="th-sm">Номер отправления</th>
                    <th class="th-sm">Детали отправления</th>
                    <th class="th-sm">Картинка</th>
                    <th class="th-sm">Стоимость</th>
                    <th class="th-sm">Дата отгрузки</th>
                </tr>
                </thead>
                {% for item in postings_data_arbitration %}
                    <tr>
                        <td><input type="checkbox" value={{ item["Номер отправления"] }} class="danger" name='posting_labels'></td>
                        {% for key, value in item.items() %}
                            {% if key != "origin" %}
                                {% if key == "Картинка" %}
                                    <td style="width: 50px; height: 50px"><div class="img-container"> <!-- Block parent element -->
                                        {% for k in value %}
                                            <img style="display:block;" width="100%" height="8%" class="zoom" src="{{ k }}">
                                        {% endfor %}
                                    </div></td>
                                {% else %}
                                    <td style="white-space:pre-wrap; word-wrap:break-word; height: 80px">{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <div id="delivering" class="tabcontent">
        <form method="post">
            <p>

                <input type=submit value="Распечатать маркировки">
            </p>
            <table id="MyTable4" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">‎</th>
                    <th class="th-sm">Принят в обработку</th>
                    <th class="th-sm">Номер заказа</th>
                    <th class="th-sm">Номер отправления</th>
                    <th class="th-sm">Детали отправления</th>
                    <th class="th-sm">Картинка</th>
                    <th class="th-sm">Стоимость</th>
                    <th class="th-sm">Дата отгрузки</th>
                </tr>
                </thead>
                {% for item in postings_data_delivering %}
                    <tr>
                        <td><input type="checkbox" value={{ item["Номер отправления"] }} class="danger" name='posting_labels'></td>
                        {% for key, value in item.items() %}
                            {% if key != "origin" %}
                                {% if key == "Картинка" %}
                                    <td style="width: 50px; height: 50px"><div class="img-container"> <!-- Block parent element -->
                                        {% for k in value %}
                                            <img style="display:block;" width="100%" height="8%" class="zoom" src="{{ k }}">
                                        {% endfor %}
                                    </div></td>
                                {% else %}
                                    <td style="white-space:pre-wrap; word-wrap:break-word; height: 80px">{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <div id="delivered" class="tabcontent">
        <form method="post">
            <p>

                <input type=submit value="Распечатать маркировки">
            </p>
            <table id="MyTable5" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">‎</th>
                    <th class="th-sm">Принят в обработку</th>
                    <th class="th-sm">Номер заказа</th>
                    <th class="th-sm">Номер отправления</th>
                    <th class="th-sm">Детали отправления</th>
                    <th class="th-sm">Картинка</th>
                    <th class="th-sm">Стоимость</th>
                    <th class="th-sm">Дата отгрузки</th>
                </tr>
                </thead>
                {% for item in postings_data_delivered %}
                    <tr>
                        <td><input type="checkbox" value={{ item["Номер отправления"] }} class="danger" name='posting_labels'></td>
                        {% for key, value in item.items() %}
                            {% if key != "origin" %}
                                {% if key == "Картинка" %}
                                    <td style="width: 50px; height: 50px"><div class="img-container"> <!-- Block parent element -->
                                        {% for k in value %}
                                            <img style="display:block;" width="100%" height="8%" class="zoom" src="{{ k }}">
                                        {% endfor %}
                                    </div></td>
                                {% else %}
                                    <td style="white-space:pre-wrap; word-wrap:break-word; height: 80px">{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <div id="cancelled" class="tabcontent">
        <form method="post">
            <p>

                <input type=submit value="Распечатать маркировки">
            </p>
            <table id="MyTable6" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">‎</th>
                    <th class="th-sm">Принят в обработку</th>
                    <th class="th-sm">Номер заказа</th>
                    <th class="th-sm">Номер отправления</th>
                    <th class="th-sm">Детали отправления</th>
                    <th class="th-sm">Картинка</th>
                    <th class="th-sm">Стоимость</th>
                    <th class="th-sm">Дата отгрузки</th>
                </tr>
                </thead>
                {% for item in postings_data_cancelled %}
                    <tr>
                        <td><input type="checkbox" value={{ item["Номер отправления"] }} class="danger" name='posting_labels'></td>
                        {% for key, value in item.items() %}
                            {% if key != "origin" %}
                                {% if key == "Картинка" %}
                                    <td style="width: 50px; height: 50px"><div class="img-container"> <!-- Block parent element -->
                                        {% for k in value %}
                                            <img style="display:block;" width="100%" height="8%" class="zoom" src="{{ k }}">
                                        {% endfor %}
                                    </div></td>
                                {% else %}
                                    <td style="white-space:pre-wrap; word-wrap:break-word; height: 80px">{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <script>
        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}
