{% extends "base.html" %}

{% block content %}

    <h1>Отправления не синхронизированы</h1>
    <button id="idb">Обновить</button>
    <script>
        function f1() {
            var x = document.getElementById("myDIV");
            if (x.style.visibility == "visible"){
                x.style.visibility = "hidden";
            } else {
                x.style.visibility = "visible";
            }

        }
        var a = document.getElementById("idb")
        a.addEventListener("click", f1)

    </script>
    <div id="myDIV" style="visibility:collapse">
        Нажмите на <a href="/updater" target="_blank">ссылку</a> и не закрывайте вкладку, пока страница не обновится. Спасибо!
    </div>


{% endblock %}