{% extends "base.html" %}
 
{% block content %}
    <h1>{{ username }}</h1>
    <h2>Описание: {{ description }}</h2>
    {% if success_pass == True %}
        <div class="alert alert-success" role="alert">
            Password changed!
        </div>
    {% endif %}
    {% if success_desc == True %}
        <div class="alert alert-success" role="alert">
            Description updated!
        </div>
    {% endif %}
    {% if owner == True %}
        <a href="/delete_user/{{ user_id }}" class="btn btn-danger" role="button">Delete my account</a>
        <a href="/logout" class="btn btn-danger" role="button">Log out</a>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.new_password.label }}<br>
                {{ form.new_password }}<br>
                {% for error in form.new_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <form action="" method="post" novalidate>
            {{ form1.hidden_tag() }}
            <p>
                {{ form1.new_description.label }}<br>
                {{ form1.new_description }}<br>
                {% for error in form1.new_description.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form1.submit() }}</p>
        </form>
    {% endif %}
{% endblock %}